@charset "utf-8";
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body{margin: 0;padding: 0;}
ul, ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;}

.test_10 p{padding: 20px; font-size: 16px; background: #ffbb55; margin-bottom: 4px}
.test_11 p{padding: 20px;font-size: 16px; background: #f2f2f2; margin-bottom: 4px;}
.test_11 p.highlight{background: yellow;}