@charset 'utf-8';
*{font-family: 'Nanum Gothic', sans-serif;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
	bottom: 30px;
}

#pager01 .bx-wrapper .bx-pager.bx-default-pager a:hover,#pager01 .bx-wrapper .bx-pager.bx-default-pager a.active,#pager01 .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #0044AC;
}
#pager02 .bx-wrapper .bx-pager.bx-default-pager a:hover,#pager02 .bx-wrapper .bx-pager.bx-default-pager a.active,#pager02 .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #FD503F;
}
/*common*/
.mb10{margin-bottom: 10px !important;}
.mb20{margin-bottom: 20px !important;}
a.btn{
	display: block;
	width: 170px; line-height: 40px;
	text-align: center;
	color: #fff; font-weight: bold;
	border: 1px solid #DBD2B8;
	background-color: rgba(0,0,0,0.5);
}

/*header*/

.util_wrap{
	background-color: #0044AF;
}
.util{
	width: 1200px; margin: 0 auto;
}
.util_menu{
	float: left;
}
.util_menu li{
	float: left;	
	border-right: 2px solid #0044af;
}
.util_menu a.active{background-color: #fff;color: #6b6b6b;}
.util_menu a{
	display: block;
	padding: 0 40px;
	background-color: #00163B;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
}
.util_menu li:last-child{
	border-right: none;
}
.util_util{
	float: right;
}
.util_util li{
	float: left;
}
.util_util a{
	display: block;
	padding: 0 15px;
	color: #BFC4CA;
	line-height: 40px;
	font-size: 13px;
	font-weight: bold;
}
.util_util img{
	padding: 11px 0;
}
.menu{
	width: 1200px; margin: 0 auto; 
	position: relative; height: 120px;
}
.menu img.logo{
	position: absolute;left: 0;top: 30px;
}
.menu ul{
	position: absolute;right: 150px;
}
.menu li{
	float: left;
}
.menu a{
	display: block;
	padding: 0 20px;
	font-size:20px;
	line-height: 120px;
	color: #464646;
}
.menu img.menu_icon{
	position: absolute;right: 0;top: 37.5px;
}

/*visual*/
#sec_bg{
	background-image: url(../images/mainbg01.jpg);
	background-repeat: no-repeat;
	padding-bottom: 50px;
}
#visual{
	width: 1200px; margin: 0 auto;height: 260px;
	padding-top: 75px;
}
#visual .visual_text{
	color: #fff;
	float: left;
}
#visual .visual_text p{
	font-size:45px;
}
#visual .visual_text h1{
	font-size:60px;
}
#visual .visual_icon{
	float: right;
}
#visual .visual_icon li{
	float: left;
}
#visual .card_icon{
	text-align: center;
	padding: 10px;
}
#visual .card_icon img{
	margin:0 auto;
	border: 2px solid #fff;
	border-radius: 45px; 
	padding: 15px;
	margin-bottom: 5px;
}
#visual .card_icon p{
	color: #fff;
	font-weight: bold;
}

#container_wrap{
	width: 1200px; margin: 0 auto;
}
#container_wrap ul.container>li{
	float: left;
	height: 225px; width: 25%;
	color: #fff;
}
#container_wrap ul.container>li:nth-child(1){height: 450px;width: 75%;
	position: relative;}
#container_wrap .prevBtn, #container_wrap .nextBtn{
	position: absolute; top: 50%; margin-top: -35px;}
#container_wrap .prevBtn{left: 0;}	
#container_wrap .nextBtn{right: 0;}
#container_wrap .slide_text{
	position: absolute; top: 90px;left: 90px;
}
#container_wrap .slide_text p{
	color: #1651b7; 
	font-size:60px;	
	margin-bottom: 30px;
}
#container_wrap .slide_text a{
	background-color: #192d4e;
	border:none;
}
#container_wrap ul.container>li:nth-child(2){height: 450px;
	background-image: url(../images/banner01.jpg);
	color: #fff;
	padding-top: 80px; padding-left: 40px;
	}
#container_wrap p.banner_text{
	font-size: 35px;
	margin-bottom: 30px;
}
#container_wrap ul.container>li:nth-child(3),
#container_wrap ul.container>li:nth-child(4),
#container_wrap ul.container>li:nth-child(5){
	padding: 30px 20px 0 20px ;
/*	color: #fff;*/
}
#container_wrap ul.container>li:nth-child(3){
	background-color: #00163b;
}
#container_wrap ul.hotlink li{
	float: left; width: 33.33%
}
#container_wrap ul.hotlink .link_card{
	text-align: center;
}
#container_wrap ul.hotlink .link_card img{
	margin: 0 auto;
}
#container_wrap ul.container>li:nth-child(4){
	background-color: #1651b7;
	position: relative;
	overflow:hidden;
}
#container_wrap ul.container>li:nth-child(4) h3{
	border-bottom: 2px solid #fff;
	padding-bottom: 20px;
}
#container_wrap ul.container>li:nth-child(4)>img{
	position: absolute; right: -20px;bottom: 0;
	width: 160px;height: 170px; opacity: 0.2;
}
#container_wrap ul.container>li:nth-child(4) ul.notice{
	float: left;
}
#container_wrap ul.container>li:nth-child(4) ul.notice li{
	list-style: circle;margin-left: 20px;
}
ul.notice li p.fst{float: left;margin-right: 5px; font-size:15px;}
ul.notice li p.snd{float: right;font-size:13px;}
#container_wrap ul.container>li:nth-child(5){
	background-color: #fff;
}
#container_wrap ul.container>li:nth-child(5) h3{color: #01153a;}
#container_wrap ul.container>li:nth-child(5) img{
	width: 120px; height: 80px;
	float: left; margin-right: 15px;
}
#container_wrap ul.container>li:nth-child(5) div{float: left;}
#container_wrap ul.container>li:nth-child(5) p{
	color: #000; font-size: 13px;
	margin-bottom: 5px;
}
#container_wrap ul.container>li:nth-child(5) .sns{
	float: right; padding-top: 20px;
}
#container_wrap ul.container>li:nth-child(5) .sns a{
	display: block;
	float: left;
	background-image: url(../images/sns_icon01.png);
	width: 24px;height: 24px;
	text-indent: -9999px;
	margin-left: 10px;
}
#container_wrap ul.container .sns a:nth-child(1){background-position: -2px 0;}
#container_wrap ul.container .sns a:nth-child(2){background-position: -123px 0;}
#container_wrap ul.container .sns a:nth-child(3){background-position: -32px -56px;}
#container_wrap ul.container .sns a:nth-child(4){background-position: -62px -84px;
	margin-right: 0px;}

#container_wrap ul.container>li:nth-child(6){
	background-image:url(../images/school_bg.png);
	position: relative;
}
#container_wrap ul.container>li:nth-child(6) div{
	background-color: rgba(0,0,0,0.8);
    width: 100%;line-height: 50px; 
    position: absolute; bottom: 0;
    text-align: center;
}
#container_wrap ul.container>li:nth-child(7){
	background-image:url(../images/video.png);
	position: relative;}
#container_wrap ul.container>li:nth-child(7) img{
	position: absolute;
	left: 50%;margin-left: -30px;
	top: 50%;margin-top: -30px;
}
#container_wrap ul.container>li:nth-child(8){
	width: 75%;
	color: #fe523e;
}
#container_wrap .slider02 .slid02_text{
	position: absolute;left: 45px;top: 40px;
}
#container_wrap .slider02 .slid02_text p{font-size:30px;}
#container_wrap .slider02 .slid02_text h2{font-size:40px;margin-bottom: 30px;}
#container_wrap .slider02 .slid02_text a{
	background-color: rgba(254,82,62,0.9);
}

#sub_wrap{
	width: 1200px;
	margin: 0 auto;background-color: #fff;
}
#sub_wrap .sub01{
	float: left;width: 25%;height: 60px;border-right: 1px solid #6b6b6b;
}
#sub_wrap .sub01 div{
	float: left;width: 150px;
	font-size:20px;color: #01173c;	
	text-align: center;line-height: 60px;
}
#sub_wrap .sub01 img{
	float: right;
}
#sub_wrap .sub02{
	float: left; width: 75%; height: 60px;
	position: relative;
}
#sub_wrap .sub02 .subprev_btn,
#sub_wrap .sub02 .subnext_btn{
	position: absolute;right: 0;
}
#sub_wrap .sub02 .subprev_btn{top: 0;}
#sub_wrap .sub02 .subnext_btn{bottom: 0;}
/*footer*/
#ft{
	width: 1200px;margin: 0 auto;
}
#ft .ft_wrap{
	position: relative;
	padding: 30px 0 30px 300px;
}
#ft .ft_1st li{
	float: left;
}
#ft .ft_1st li:after{
	content:"";display: block;
	width: 1px;height: 13px;background-color: #444;
	position: absolute; top: 33px;
}
#ft .ft_1st li:first-child:after{content:"";display: none;}
#ft .ft_1st a{
	display: block;
	padding: 0 35px 0 10px;
	color: #444;
	font-size:15px;
}
#ft .ft_2nd{
	font-size:12px; color: #9b9b9b;
}
#ft .ft_2nd li{margin-bottom: 5px;}
#ft .ft_2nd li:last-child{
	font-weight: bold; font-size:13px;
	padding-top: 5px;
}