@charset "utf-8";
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{margin: 0; padding: 0;}
header, section, article, aside, nav, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, footer:after{content:""; display: block; clear:both;}
ul, ol{margin: 0; padding: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
a{text-decoration: none;}
.clear{clear:both;}

#test_01 .menu{width: 600px;height: 60px;margin: 0 auto;}
#test_01 .menu li{width: 25%;height: 100%;float: left;background-size: cover;background-position:center;}
#test_01 .menu li div{background-color: rgba(0,0,0,0.5);width: 100%;height: 100%;display: table;transition:background-color 0.5s;}
#test_01 .menu li .title{font-size: 16px;font-weight: bold;color: #fff;display:table-cell;text-align: center;vertical-align: middle;}
#test_01 .menu li div.active{background-color: rgba(150,150,0,0.75);}


#test_02{width: 1200px;height: 380px;margin: 0 auto;}
#test_02 .tab_btn{width: 100%;height: 60px;position: relative;}
#test_02 .tab_btn div{float: left;width: 33.33%;height: 100%;text-align: center;line-height: 60px;transition:color 0.5s;}
#test_02 .tab_btn .activeBtn{color: #fff;}
#test_02 .tab_btn .bg-bk{width: 33.33%;height: 100%;background-color: #000;position: absolute;left: 0;top: 0;z-index:-1;}

#test_02 .tab_box{width: 100%;height: 320px;border: 1px solid #999;}
#test_02 .tab_box>div{display: none;width: 100%;height: 100%;}
#test_02 .tab_box .img{width: 50%;height: 100%;float: left;background-size: cover;}
#test_02 .tab_box .context{width: 50%;height: 100%;float: left;display: table;}
#test_02 .tab_box .context .table_center{text-align: center;display: table-cell; vertical-align: middle;}
#test_02 .tab_box .context .table_center .title{font-size:20px;color:#555;}
#test_02 .tab_box .context .table_center .sub{font-size:16px;color:#999;padding: 10px 0;}
#test_02 .tab_box .context .table_center .text{font-size:14px;color:#777;}
#test_02 .tab_box>div.activeBox{display: block;}


#test_03{width: 1000px;height: 600px;margin: 0 auto; position: relative;}
#test_03 .slider{width: 100%;height: 100%;}
#test_03 .slider li{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background-size: cover;}
#test_03 .slider li.act_img{z-index:1;}

#test_03 .slider li:nth-child(1){background-image: url(../img/slide_01.jpg);}
#test_03 .slider li:nth-child(2){background-image: url(../img/slide_02.jpg);}
#test_03 .slider li:nth-child(3){background-image: url(../img/slide_03.jpg);}
#test_03 .slider li:nth-child(4){background-image: url(../img/slide_04.jpg);}

#test_03 .pager{position: absolute;bottom: 10px;left: 0;width: 100%;height: 8px;z-index: 3;}
#test_03 .pager .slide_num{text-align: center;font-size:0;}
#test_03 .pager .slide_num li{display: inline-block;margin: 0 4px;width: 30px;height: 8px;background: #aaa;border-radius:2px;cursor: pointer;transition: width 0.5s, background 0.5s;}
#test_03 .pager .slide_num li.act_btn{width: 50px;background: #ffaaff;}