@charset "utf-8";

.grid-frame{width: 100%;height: auto; padding: 20px; background: #edefef;}
.grid{width: 100%; height: auto;}
.grid:after{content:"";display: block;clear: both;}

.grid-item{width: calc(25% - 20px);height: 300px; float: left; margin: 0 10px 20px; background-size: cover;background-position: 50% 50%; border-radius: 4px; box-shadow: 0 0 4px rgba(0,0,0,0.75);position: relative;}
.grid-item a{font-size:20px; color:#fff;font-weight: bold;display: inline-block;padding: 8px 16px; border: 1px solid #fff; background: rgba(0,0,0,0.8);border-radius: 4px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;transition:opacity 0.5s;}
.grid-item:hover a{opacity: 1;}
.grid-item:nth-child(1){background-image: url(../img/work/img_01.jpg);}
.grid-item:nth-child(2){background-image: url(../img/work/img_02.jpg);}
.grid-item:nth-child(3){background-image: url(../img/work/img_03.jpg);}
.grid-item:nth-child(4){background-image: url(../img/work/img_04.jpg);}
.grid-item:nth-child(5){background-image: url(../img/work/img_05.jpg);}
.grid-item:nth-child(6){background-image: url(../img/work/img_06.jpg);}
.grid-item:nth-child(7){background-image: url(../img/work/img_07.jpg);}
.grid-item:nth-child(8){background-image: url(../img/work/img_08.jpg);}
.grid-item:nth-child(9){background-image: url(../img/work/img_09.jpg);}
.grid-item:nth-child(10){background-image: url(../img/work/img_10.jpg);}
.grid-item:nth-child(11){background-image: url(../img/work/img_11.jpg);}
.grid-item:nth-child(12){background-image: url(../img/work/img_12.jpg);}
.grid-item:nth-child(13){background-image: url(../img/work/img_13.jpg);}
.grid-item:nth-child(14){background-image: url(../img/work/img_14.jpg);}
.grid-item:nth-child(15){background-image: url(../img/work/img_15.jpg);}
.grid-item:nth-child(16){background-image: url(../img/work/img_16.jpg);}
.grid-item:nth-child(17){background-image: url(../img/work/img_17.jpg);}
.grid-item:nth-child(18){background-image: url(../img/work/img_18.jpg);}
.grid-item:nth-child(19){background-image: url(../img/work/img_19.jpg);}
.grid-item:nth-child(20){background-image: url(../img/work/img_20.jpg);}
.grid-item:nth-child(21){background-image: url(../img/work/img_21.jpg);}

.grid-item:nth-child(2n){height: 400px;}
.grid-item:nth-child(3n){height: 500px;}

@media(max-width:1200px){
	.grid-item{width: calc(33.33% - 20px);}
}
@media(max-width:768px){
	.grid-item{width: calc(50% - 20px);}
}
@media(max-width:576px){
	.grid-item{width: calc(100% - 20px);}
}








