@charset "utf-8";
*{font-family: 'Nanum Gothic', sans-serif;}
.mb20{margin-bottom: 20px;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
	bottom: 345px;
}
header{height: 1955px;position: relative;}
#main_wrap{
	position:fixed;z-index:1;
	top: 40px;left: 50%;margin-left: -632.5px;
	
}
#main_wrap .menu_wrap{
	width: 1260px;height: 70px;
	position: relative;
	background-image: url(../images/menu_bar.png);
}
#main_wrap .logo{
	position: absolute;left: 20px;top: 50%;margin-top: -25px;	
}
#main_wrap .menu{
	position: absolute;right: 115px;top: 50%;margin-top: -35px;
	width: 500px;height: 70px;
}
#main_wrap .menu>ul>li{
	float: left; 
}
#main_wrap .menu>ul>li>a{
	display: block;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size:20px;
	color: #3D2E06;
	padding:0px 20px;
}
#main_wrap .menu>ul>li>a:hover p{
	color: #0F4A38;
	font-size:20.5px;
}
#main_wrap .menu li:hover .sub{display: block;}
#main_wrap .sub{
	display: none;
	background-color: rgba(256,256,256,0.5);
}
#main_wrap .sub>li>a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #3D2E06;
}
#main_wrap .sub>li:hover a{
	background-color: rgba(211,17,69,0.8);
	color:#fff;
}
#main_wrap .language{
	position: absolute;right: 10px;top: 50%;margin-top: -25px;
	color: #3D2E06;
}
#main_wrap .language>div{
	width: 50px;height: 50px; 
	border: 1px solid #298868;
	text-align: center;line-height: 50px;
	float: left;
}
#main_wrap .language>div:hover{background-color: #298868;color: #E8E3DD;}
#hd_wrap .slider01_wrap {height: 1010px;position: relative;}
.preBtn,.nextBtn{
	position: absolute;top: 352.5px;
}
.preBtn{left: 50%;margin-left: -700px;}
.nextBtn{right: 50%;margin-right: -700px;}
#hd_wrap .slider01 img{height: 1010px;}


#container{
	width: 1260px;margin: 0 auto;
	position: absolute;bottom: 0px;left: 50%;margin-left: -630px;
}
#container li{
	float: left;width: 25%;height: 315px;
	position: relative;
}
.double{width: 50% !important;}
.hdouble{height: 630px !important;}
#container .card{
	position: absolute;
	top: 50%;margin-top: -96.5px;
	left: 50%;margin-left: -75px;
	font-size:20px;font-weight: bold;
	color: #fff ;
	text-align: center;
}
#container .card_double{
	color:#fff;
	padding-top: 45px;padding-left: 40px;
}
#container .card_double h2:after{
	content:"";display: block;
	width: 55px;height: 2px;background-color: #fff;
	margin-top: 15px;
}

#container li:nth-child(1){background-color: #ddd;}
#container li:nth-child(2){background:url(../images/new.png) no-repeat;}
#container li:nth-child(3){background-color: skyblue;}
#container li:nth-child(3)>div{float: left;width: 50%;}
/*#container .event01{padding-top: 40px;padding-left: 40px;}
#container .event01:after{
	content:"";
	display: block;
	border-style: solid;
	border-width: 25px;
	border-color: transparent transparent transparent #fff;
}
#container .event01 h3{font-size:20px;}*/

#container li:nth-child(4){background-color: orange;}
#container li:nth-child(5){background-color: green;}
#container li:nth-child(6){background:url(../images/brandstory_bg.png) no-repeat;}
#container li:nth-child(7){background-color: #ddd;}
#container li:nth-child(8){background-color: pink;}
#container li:nth-child(9){background-color: skyblue;}
#container li:nth-child(10){background-color: green;}
#container li:nth-child(11){background-color: orange;}

