@charset "utf-8";
*{font-family: 'Nanum Gothic', sans-serif;}
.mb20{margin-bottom: 20px !important;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 0;
}
.bx-wrapper .bx-pager{
	bottom: 345px;
}


header{height: 1955px;position: relative;margin-bottom: 30px;}
#main_wrap{
	position:fixed;z-index:1;
	top: 40px;left: 50%;margin-left: -630px;
	
}
#main_wrap .menu_wrap{
	width: 1260px;height: 70px;
	position: relative;
	background-image: url(../images/menu_bar.png);
}
#main_wrap .logo{
	position: absolute;left: 20px;top: 50%;margin-top: -25px;	
}
#main_wrap .menu{
	position: absolute;right: 115px;top: 50%;margin-top: -35px;
	width: 500px;height: 70px;
}
#main_wrap .menu>ul>li{
	float: left; 
}
#main_wrap .menu>ul>li>a{
	display: block;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size:20px;
	color: #3D2E06;
	padding:0px 20px;
}
#main_wrap .menu>ul>li>a:hover p{
	color: #0F4A38;
	font-size:20.5px;
}
#main_wrap .menu li:hover .sub{display: block;}
#main_wrap .sub{
	display: none;
	background-color: rgba(256,256,256,0.5);
}
#main_wrap .sub>li>a{
	display: block;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #3D2E06;
}
#main_wrap .sub>li:hover a{
	background-color: rgba(211,17,69,0.8);
	color:#fff;
}
#main_wrap .language{
	position: absolute;right: 10px;top: 50%;margin-top: -25px;
	color: #3D2E06;
}
#main_wrap .language>div{
	width: 50px;height: 50px; 
	border: 1px solid #298868;
	text-align: center;line-height: 50px;
	float: left;
}
#main_wrap .language>div:hover{background-color: #298868;color: #E8E3DD;}
#hd_wrap .slider01_wrap {height: 1010px;position: relative;}
.preBtn,.nextBtn{
	position: absolute;top: 352.5px;
}
.preBtn{left: 50%;margin-left: -700px;}
.nextBtn{right: 50%;margin-right: -700px;}
#hd_wrap .slider01 img{height: 1010px;}


#container{
	width: 1260px;margin: 0 auto;
	position: absolute;bottom: 0px;left: 50%;margin-left: -630px;
}
#container li{
	float: left;width: 25%;height: 315px;
	position: relative;
}
.double{width: 50% !important;}
.hdouble{height: 630px !important;}
#container .card{
	position: absolute;
	top: 50%;margin-top: -96.5px;
	left: 50%;margin-left: -75px;
	font-size:20px;font-weight: bold;
	color: #fff ;
	text-align: center;
}
#container .card_double{
	color:#fff;
	padding-top: 50px;padding-left: 35px;
}
#container .card_double h2:after{
	content:"";display: block;
	width: 55px;height: 2px;background-color: #fff;
	margin-top: 20px;
}
#container .card_hdouble{
	color:#fff;
	padding-top: 50px;padding-left: 35px;
}
#container .card_hdouble h2:after{
	content:"";display: block;
	width: 55px;height: 2px;background-color: #fff;
	margin-top: 20px;
}

#container h1{font-size:1.8em;}
#container li:nth-child(1){background-color: #A3E3FF;}
#container li:nth-child(2){background:url(../images/new.png) no-repeat;}

#container li:nth-child(3){background-color: #fff;position: relative;}
#container li:nth-child(3) h2{position: absolute;top: 45px;left: 35px;}
#container .slider02_txt{float: left;width: 50%;height: 315px;position: relative;}
#container .slider02_txt:after{content:"";display: block;
	border-width: 20px;border-style: solid;border-color: transparent transparent transparent #fff;
	position: absolute;left:315px;top: 50%;	margin-top: -20px;
}
#container .slider02_txt p{
	position: absolute;top: 85px;left: 35px;
}
#container .preBtn02{
	position: absolute; bottom: 45px;right: 65px;
}
#container .nextBtn02{
	position: absolute;bottom: 45px;right: 35px;
}
#container .slider02 .slider02_img{float: left;width: 50%;height: 315px;}


#container li:nth-child(4){background-color: #F2A2C8;}
#container li:nth-child(5){background-color: #BF8C6F;}
#container li:nth-child(6){background:url(../images/brandstory_bg.png) no-repeat;}
#container li:nth-child(7){background:url(../images/history.png);}
#container li:nth-child(8){background: url(../images/homeservice.png) no-repeat;}
#container li:nth-child(8) .card_double h2:after{content:"";background-color: #3D2E06;}
#container li:nth-child(9){background-color: #FE8480;}
#container li:nth-child(10){background-color: #590202;}
#container li:nth-child(11){overflow: hidden;}
#container li:nth-child(11):hover img{transform: scale(1.1,1.1);transition:0.5s;}

section{height: 700px;
		background: url(../../04회사/images/contentsbg01.jpg) no-repeat center;
		background-attachment:fixed; /*모바일 사용 x*/
		background-size: cover;
	}
#contents{width: 1260px;margin: 0 auto;padding-top: 70px;}
#contents h4{text-align: center;color: white;}
#contents h4:after{content:'';display: block;
	width: 70px;height: 2px;background-color: #fff;
	margin: 10px auto;
}
#contents>p{text-align: center;color: white;margin-bottom: 70px;}
#contents li{
	float: left;margin-right: 20px;
	transition:0.3s;
}
#contents li:last-child{margin-right: 0px;}
#contents li:hover{
	box-shadow: 5px 5px 10px rgba(255,255,255,0.5),7px 7px 10px red;
	transform:translate(-10px, -10px);
	border-radius: 5px
}
#contents .card{
	width: 300px;height: 380px;
	background-color: #fff;border-radius: 5px;
	padding-top: 50px;
}
#contents .card img{margin: 0 auto;}
#contents .card-body{
	text-align: center;
	padding: 20px;
}
#contents .card-title{
	font-size:15px;font-weight: bold;
	margin-bottom: 10px;
}