@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color:#777;}
html, body{font-family: 'Poppins', sans-serif; margin: 0; padding: 0;}
header, section, article, aside, nav, footer{display: block;}
header:after, section:after, article:after, aside:after, nav:after, footer:after{content:""; display: block; clear: both;}
ul, ol{margin: 0; padding: 0; list-style: none;}
h1,h2,h3,h4,h5,h6,p{margin: 0;}
a{text-decoration: none;}
.clearfix:after{content:"";display: block;clear: both;}

.great{font-family: 'Great Vibes', cursive;}
.josefin{font-family: 'Josefin Slab', serif;}
.line:after{content:"";display: block;height: 2px;width: 80px;background: #ce967a;}

#sub_hd{width: 100%;height: 20px;background: #474747;}
#sub_hd .sub_menu{width: 1200px;height: 100%;margin: 0 auto;}
#sub_hd .sub_menu .contact{float: left;width: 300px;}
#sub_hd .sub_menu .sign{float: right;width: 130px;}
#sub_hd .sub_menu p{float: left;padding: 0 10px;line-height: 20px;font-size:10px;color:#fff;}
#sub_hd .sub_menu p a{color:#fff;}
#sub_hd .sub_menu div{position: relative;}
#sub_hd .sub_menu .pAfter:after{content: "";
	display: block;width: 1px;height: 10px;background: #fff;
	position: absolute; top: 5px;
}
#sub_hd .sub_menu .contact .pAfter:after{left: 107px;}
#sub_hd .sub_menu .sign .pAfter:after{left: 52px;}

#hd{width: 100%;height: 540px;position: relative;}
#hd .hd_menu{
	width: 100%;height: auto; 
	position: absolute;top: 0;
	background: rgba(255,255,255,0.8);
	z-index: 1;
}
#hd .hd_menu .main_menu{
	width: 1000px;height:60px;
	margin: 0 auto;
	font-size:0;
}
#hd .hd_menu .main_menu li{
	display: inline-block;
	width: 20%;height: 100%;
	text-align: center;
	vertical-align: middle;
}
#hd .hd_menu .main_menu li a{color:#777; font-size:16px;}
#hd .hd_menu .main_menu li:hover a{font-weight: bold;font-size:18px;}
#hd .hd_menu .main_menu .logo img{width: 100%;height: 40px;text-align: center;margin-top: 10px;}

#hd .main_img{
	width: 100%;height: 540px;
	background: url(../img/h3-slider1-background.jpg) center no-repeat;
	position: relative;
}
#hd	.main_img .main_img_txt{
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%, -10%);
	text-align: center;
}
#hd	.main_img .main_img_txt .josefin{font-size: 25px;color: #fff;}
#hd	.main_img .main_img_txt .great{font-size: 80px;color: #fff;}

#concept{
	width: 100%;height: 660px;
	background-image: url(../img/section_deco_left.png), url(../img/section_deco_right.png);
	background-repeat: no-repeat;
	background-size: 250px auto, 250px auto;
	background-position: 0 -10%, 100% 103%;
}

#concept .concept_wrap{width: 1200px;margin: 0 auto; height: 100%; }
.title{transform-origin: left bottom;transform:rotate(90deg);height: 40px;width: 300px;position: relative;}
.title:before{content:"";display: block;width: 3px;height: 31.59px;background: #777;position: absolute;top: 5px;}
.title h3{font-size: 31.59px;position: absolute;left: 15px;}

#concept .concept_box{width: 1000px;height: 180px;float: right;display: grid;margin-bottom: 20px;}
#concept .concept_box_img{grid-column:1/2;width: 200px;height: 100%;position: relative;}
#concept .concept_box_img img{width: 100px;height: 100px;position: absolute;left: 20px;top: 50%;transform: translate(0, -50%);}
#concept .concept_box_cont{grid-column:2/3;width: 820px;height: 100%;padding: 40px 10px 0 10px;}
#concept .concept_box_title{font-size: 30px;}
#concept .concept_box_text{position: relative;width: 100%;height: 100px;font-size: 16px;padding-top: 10px;}
#concept .concept_box_text a{float: right; color: #ce967a;}

#bg01{width: 100%;height: 180px;background: url(../img/h3-bacground-img-5.jpg) no-repeat fixed center;background-size: cover;position: relative;}
#bg01 .bg01_txt{font-size: 16.19px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;}
#bg01 .bg01_txt .bg01_title{font-size:36px;}
#bg01 .bg01_txt p{color:#fff;}

#gallery{width: 1200px;height: 580px;margin: 0 auto;}
#gallery .gallery_cont01,
#gallery .gallery_cont02{width: 100%;height: 240px;text-align: center;font-size:0;margin-bottom: 20px;}
#gallery .gallery_img{width: 380px;height: 240px;display: inline-block;margin: 0 10px;background-size: cover;background-repeat:no-repeat;background-position: 50% 50%;}
#gallery .gallery_cont01 .gallery_img:nth-child(1){background-image:url(../img/h-img12.jpg);}
#gallery .gallery_cont01 .gallery_img:nth-child(2){background-image:url(../img/h-img13.jpg);}
#gallery .gallery_cont02 .gallery_img:nth-child(1){background-image:url(../img/h3-bacground-img-4-1.jpg);}
#gallery .gallery_cont02 .gallery_img:nth-child(2){background-image:url(../img/h-img14.jpg);}
#gallery .gallery_cont02 .gallery_img:nth-child(3){background-image:url(../img/h-img16.jpg);}

#review{width: 100%;height: 550px;background: url(../img/h-img23.jpg) no-repeat fixed center;background-size:cover;}
#review .review_bg{width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}
#review .review_wrap{width: 1200px;height: 100%;margin: 0 auto;}
#review .review_wrap .title:before{background-color:#fff;}
#review .review_wrap .title h3{color:#fff;}
#review .review_box{width: 1000px;height: 200px;float: right;}
#review .review_box img{width: 280px;height: 100%;display: block;float: left;margin: 0 10px;}
#review .review_box .review_text{height: 100%;width: 680px;float: left;margin: 0 10px;}
#review .review_box .review_text p{color: #fff;font-size:16px;}
#review .review_box .review_text .review_title{font-size: 30px;}
#review .review_box .review_text .line:after{background: rgba(255,255,255,0.3);}
#review .review_box .review_text .review_sub{font-size: 20px;padding: 10px 0;}
#review #bride{padding-bottom: 35px;border-bottom: 2px solid rgba(255,255,255,0.3);}
#review #groom{padding-top: 35px;}
#review #groom>img{float: right;}


#blog{width: 100%;height: 460px;
	background-image: url(../img/section_deco_left_01.png), url(../img/section_deco_right_01.png);
	background-repeat: no-repeat;
	background-size: auto 315px, auto 250px;
	background-position: 0 0, 100% 100%;
}
#blog .blog_wrap{width: 1200px;height: 100%;margin: 0 auto;}
#blog .blog_wrap .blog_card{width: 280px;height: 380px;float: left;background-size: cover;background-repeat: no-repeat;background-position: center;margin: 0 10px;position: relative;}
#blog .blog_wrap .blog_card .blog_card_bg{width: 240px;height: 340px;background-color: rgba(255,255,255,0.85);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;}
#blog .blog_wrap .blog_card .blog_card_bg .blog_title{font-size: 23.82px;padding-top: 80px;color: #ce967a;}
#blog .blog_wrap .blog_card .blog_card_bg .blog_sub{font-size: 12px;margin: 10px 0 20px 0;position: relative;}
#blog .blog_wrap .blog_card .blog_card_bg .line:after{position: absolute;top: 38px;left: 50%;transform: translate(-50%, 0);}
#blog .blog_wrap .blog_card .blog_card_bg .blog_text{font-size: 13.94px;padding-top: 20px;}
#blog .blog_wrap .blog_card .blog_p{position: absolute;bottom: 20px;}
#blog .blog_wrap .blog_card:nth-child(3){background-image: url(../img/h-img32.jpg);}
#blog .blog_wrap .blog_card:nth-child(4){background-image: url(../img/h-img33.jpg);}
#blog .blog_wrap .blog_card:nth-child(5){background-image: url(../img/h-img34.jpg);}


#bg02{width: 100%;height: 560px;background: url(../img/h-img18.jpg) no-repeat center fixed;background-size: cover;}
#bg02 .bg02_wh{width: 100%;height: 100%;background-color: rgba(255,255,255,0.5);text-align: center;}
#bg02 .bg02_title{font-size: 60px;padding-top: 80px;position: relative;}
#bg02 .line:after{position: absolute;bottom: 0;left: 50%;transform: translate(-50%,0);width: 180px;background: #777;}
#bg02 .bg02_text{font-size: 16.2px;padding-top: 20px;}
#bg02 .invitation{width: 580px;height: 240px;padding-top: 40px;margin: 0 auto;}
#bg02 .invitation form{text-align: center;}
#bg02 .invitation form p input[type="text"]{width: 100%;height: 40px;margin-bottom: 20px;}
#bg02 .invitation form p input[type="submit"]{width: 180px;height: 65px;background-color: #ce967a;color: #fff;padding: 0;border: 0;border-radius: 2px;}


#partners{width: 1200px;height: 300px;margin: 0 auto;}
#partners .img{width: 1000px;height: 100%;float: right;padding-top: 75px;}
#partners .img>div{float: left;width: 20%;height: 100%;}
#partners .img>div>img{width: 100%;display: block;}


footer{width: 100%;height: 60px;background: #000;}
#ft{
	width: 380px;height: 100%;margin: 0 auto;;
	background-image: url(../img/h1-slider1-img-1.png), url(../img/h1-slider1-img-2.png);
	background-repeat: no-repeat;
	background-size: auto 32px, auto 32px;
	background-position: 0 50%, 100% 50%;
	text-align: center;
	line-height: 60px;
}
#ft p{color: #fff;font-size: 16px;}